<!DOCTYPE html>
<html>
<head>
	<title>Index Page</title>
</head>
<body class="container">
  <% include ./header/head %>
  <% include ./header/_nav %>
   
<h1>Welcome to the Jolly Green Giant!</h1>

<div><img src="http://placehold.it/350x150"><div>Product Information <a href="#" class="productItem">Add to Cart</a></div></div>

</body>
</html>