<!DOCTYPE html>
<html>
<head>
	<title>Index Page</title>
  <% include ./header/head %>
      <script src="/js/custom.js"></script>

</head>
<body>
  <% include ./header/_nav %>
<!-- <div class="container">
	<div class="row">
		<div class="col-md-3">
			
		</div>
	</div> -->
  

<h1 id='greenDoorHeading'>Welcome to the Jolly Green Giant!</h1>

<div class="content"></div>
 </div>
<!-- Content Changes on Each page -->
<div id="checkoutDiv">
	<div class="col-md-5 left44">Subtotal <span class="total"> </span> <span class="items"></span> item(s) in cart </div> 
	<div class="col-md-5"><span class="zIndex btn btn-success" data-toggle='modal' data-target="#cart">Open Shopping Cart</span>
	<a href="/checkout" class="zIndex btn btn-primary">Proceed to Checkout</a>
	</div>
</div>
<div class="row" id="saleItems">
<div class="card col-md-2 offset-1 ">
	<div class="card-block">
	<h3 class="card-title">Moon - Pie</h3>
	<h6 class="card-subtitle text-muted">$10.00</h6>
	<img class="img-fluid" src="http://placehold.it/350x150">
</div>
	<div class="card-block">
	<div class="card-text">Product Information <a href="#" data-name="moonPie" data-price="1000" data-id="1" class=" card-link productItem btn btn-primary">Add to Cart</a></div>
	
	</div>
</div>
<div class="card col-md-2 offset-1">
	<div class="card-block">
	<h3 class="card-title">Candi Cooky</h3>	
	<h6 class="card-subtitle text-muted">$10.00</h6>
	<img class="img-fluid" src="http://placehold.it/350x150">
</div>
	<div class="card-block">
	<div class="card-text">Product Information <a href="#" data-name="candyCookie" data-price="1000" data-id="2" class="productItem btn btn-primary">Add to Cart</a></div>
	
	</div>
</div>

<div class="card col-md-2 offset-1">
	<div class="card-block">
	<h3 class="card-title">Cakey Cake</h3>
	<h6 class="card-subtitle text-muted">$10.00</h6>
	<img class="img-fluid" src="http://placehold.it/350x150">
</div>
	<div class="card-block">
	<div class="card-text">Product Information <a href="#" data-name="cakeyCake" data-price="1000" data-id="3" class="productItem btn btn-primary">Add to Cart</a></div>
	
	</div>
</div>

<div class="card col-md-2 offset-1">
	<div class="card-block">
	<h3 class="card-title">Blasto Pop</h3>
	<h6 class="card-subtitle text-muted">$10.00</h6>
	<img class="img-fluid" src="http://placehold.it/350x150">
</div>
	<div class="card-block">
	<div class="card-text">Product Information <a href="#" data-name="cakeyCake" data-price="1000" data-id="4" class="productItem btn btn-primary">Add to Cart</a></div>
	
	</div>
</div>



<div class="card col-md-2 offset-1">
	<div class="card-block">
	<h3 class="card-title">Fryd Chicken</h3>
	<h6 class="card-subtitle text-muted">$10.00</h6>
	<img class="img-fluid" src="http://placehold.it/350x150">
</div>
	<div class="card-block">
	<div class="card-text">Product Information <a href="#" data-name="frydChicken" data-price="1000" data-id="5" class="productItem btn btn-primary">Add to Cart</a></div>
	
	</div>
</div>

<div class="card col-md-2 offset-1">
	<div class="card-block">
	<h3 class="card-title">Fryd Potatoes</h3>
	<h6 class="card-subtitle text-muted">$10.00</h6>
	<img class="img-fluid" src="http://placehold.it/350x150">
</div>
	<div class="card-block">
	<div class="card-text">Product Information <a href="#" data-name="frydPotatoes" data-price="1000" data-id="6" class="productItem btn btn-primary">Add to Cart</a></div>
	
	</div>
</div>

<div class="card col-md-2 offset-1">
	<div class="card-block">
	<h3 class="card-title">Green Giant</h3>
	<h6 class="card-subtitle text-muted">$10.00</h6>
	<img class="img-fluid" src="http://placehold.it/350x150">
</div>
	<div class="card-block">
	<div class="card-text">Product Information <a href="#" data-name="theGreenGiant" data-price="1000" data-id="7" class="productItem btn btn-primary">Add to Cart</a></div>
	
	</div>
</div>

<div class="card col-md-2 offset-1">
	<div class="card-block">
	<h3 class="card-title">Milk &amp Cookies </h3>
	<h6 class="card-subtitle text-muted">$10.00</h6>
	<img class="img-fluid" src="http://placehold.it/350x150">
</div>
	<div class="card-block">
	<div class="card-text">Product Information <a href="#" data-name="cakeyCake" data-price="1000" data-id="3" class="productItem btn btn-primary">Add to Cart</a></div>
	
	</div>
</div>


<!-- </div> -->
<!-- <div id="output"></div> -->
<!-- Modals -->
<div class="modal fade" id="cart" tabindex="-1">
	
	<div class=" modal-dialog">
		<div class="modal-content">
			<div class="modal-header"><button type="button" class="close" data-dismiss="modal">&times;</button><h4 class="modal-title">Shopping Cart</h4></div>
			<div class="modal-body">
				<table class="table table-hover">
					<thead class="thead-inverse">
						<tr>
							<th>Qty</th>
							<th>Item Name</th>
							<th>Cost</th>
							<th class="text-xs-right">Subtotal</th>
						</tr>
					</thead>
					<tbody id="output">
						
					</tbody>
				</table>
			</div>
			<div class="modal-footer"><button type="button" class="btn btn-warning" data-dismiss="modal">Continue Shopping</button> <a href="/checkout" class="btn btn-primary">Proceed to Checkout</a></div>			
		</div>
	</div>
</div>
</div>
 <% include ./footer %>
</body>
</html>