<!DOCTYPE html>
<html>
<head>
	<title>Nav</title>
</head>
<body class="container">
<!-- This is the nav, fool! -->
        <div class="row">
  	<nav class="navbar navbar-fixed-top navbar-inverse nav-text liShorten">
     
        <!-- <div class="navbar-header">
          <a class="navbar-brand" href="#">Project name</a>
        </div> -->
        <div id="navbar">
          <ul class="nav navbar-nav">
         
            <li class="active"><a href="/">Home</a></li>
          
         
            <li><a href="/about">About</a></li>
          
         
            <li><a href="/checkout">Products</a></li>
          
          </ul>
        </div><!-- /.nav-collapse -->
    </nav><!-- /.navbar -->

      </div>
</body>
</html>